.page-footer {
  margin: 0 auto;
  width: @mobile-width;

  font-family: @font-base;
  background-color: white;
}

.page-footer__links {
  padding: 0 20px;
  background-color: @bg-block-color;
  overflow: hidden;
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 39px;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 0;
  display: block;

  line-height: 14px;
  border-bottom: 1px solid @border-block-default;
}

.page-footer__text {
  display: block;
  margin: 0 auto;
}

.page-footer__socials {
  line-height: 18px;
}

.page-footer__copyright {
  margin-top: 30px;
  margin-right: -1px;
  margin-bottom: 29px;//36px;
  margin-left: -1px;

  line-height: 14px;
}

.page-footer__copyright a {
  text-decoration: none;
  color: black;
}

.page-footer__copyright-title {
  color: @link-outer-text;

  &:hover,
  &:focus {
    color: @link-outer-text-hover;
  }

  &:active {
    color: @link-outer-text-active;
  }
}

.page-footer__copyright-logo {
  margin-top: -7px;
  margin-right: 1px;

  display: block;
  float: right;
  fill: @link-outer-ico;

  &:hover,
  &:focus {
    fill: @link-outer-ico-hover;
  }

  &:active {
    fill: @link-outer-ico-active;
  }
}


@media (min-width: @tablet-width) {
  .page-footer {
    min-width: @tablet-width;
  }

  .page-footer__links {
    padding-top: 30px;
    padding-right: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    min-height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .page-footer__logo img {
    height: 24px;
    /* width: 140px; */
    margin-top: 3px;
    margin-left: 1px;
  }

  .page-footer__socials {
    margin-right: 46px;
  }

  .page-footer__copyright {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 163px;

    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-width: @desktop-width;
  }

  .page-footer__links {
    //padding: 30px 40px;
    padding-top: 28px;
    padding-right: 40px;
    padding-bottom: 31px;
    padding-left: 40px;
  }

  .page-footer__copyright {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 163px;

    display: inline-block;
  }
}
