.page-footer__copyright {
  background-color: @bg-block-color;
}

.page-footer__copyright-logo {
  display: block;
  float: right;
}

.page-footer__logo {
  display: block;
}

.page-footer__text {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__links {
    display: flex;
    justify-content: space-between;
  }
}
