.example-effect {
  font-family: @font-base;
}

.example-effect__img {
  margin-bottom: -2px;
  margin-left: -3px;
  height: 240px;
  width: @mobile-width;
}

.example-effect__img-left {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2px;
  height: 100%;
}

.example-effect__img-right {
  display: none;
}

.example-effect__toggle {
  margin-left: 63px;
  margin-top: 32px;
  padding-bottom: 13px;
  width: 198px;
}

@media (min-width: @tablet-width) {
  .example-effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, @bg-block-color 50%, #eaeaea 50%);
  }

  .example-effect__img {
    margin-top: -168px;
    margin-left: 0;
    height: 516px;
    width: 670px;
  }

  .example-effect__img-left {
    margin: 0;
    width: 690px;
    height: auto;
    z-index: 10;
    position: absolute;
    display: block;
    left: 46px;
  }

  .example-effect__img-right {
    margin: 0;
    width: 100%;
    height: 631px;
    z-index: 10;
    position: absolute;
    display: none;
  }


  .example-effect__toggle {
    margin-top: 18px;
    margin-right: 0;
    margin-bottom: 69px;
    margin-left: 0;
    padding: 0;
    width: 569px;
  }
}

@media (min-width: @desktop-width) {
  .example-effect {
    background: linear-gradient(to right, @bg-block-color 60.5%, #eaeaea 60.5%);
  }

  .example-effect__img {
    min-height: 525px;
    width: 682px;
    margin-top: -270px;
    margin-left: 63px;
  }

  .example-effect__img-left {
    margin: 0;
    width: 689px;
    height: auto;
    z-index: 10;
    position: absolute;
    display: block;
    left: 130px;
    bottom: 134px;
  }

  .example-effect__img-right {
    margin: 0;
    width: 100%;
    height: 631px;
    z-index: 10;
    position: absolute;
    display: none;
  }

  .example-effect__toggle {
    margin-top: 39px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 168px;
  }
}
