.example-effect {
  font-family: @font-base;
}

.example-effect__toggle {
  width: 198px;
  margin-left: 63px;
  margin-top: 26px;
  padding-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .example-effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgray;
  }

  .example-effect__img {
    height: 516px;
    width: 670px;
    margin-top: -168px;
    margin-left: 0;
  }

  .example-effect__toggle {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 69px;
    padding: 0;
    width: 569px;
  }
}

@media (min-width: @desktop-width) {
  .example-effect__img {
    height: 510px;
    width: 682px;
    margin-top: -258px;
    margin-left: 63px;
  }

  .example-effect__toggle {
    margin: 0;
    margin-left: 103px;
    margin-top: 36px;
  }
}
