.toggle {
  font-family: @font-add;
  display: flex;
  justify-content: space-between;
}

.toggle--example-effect {
  width: 198px;
  margin-left: 64px;
  margin-top: 26px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .toggle--example-effect {
    margin: 0 auto;
    padding-top: 362px;
    width: 569px;
    padding-bottom: 69px;
    font-size: 20px;
  }
}
