.product-add__list {
  margin: 0 20px;
}

.product-add__item {
  padding-bottom: 17px;
  border-bottom: 1px solid black;
}

.product-add__link {
  text-decoration: none;
  color: black;
}

.product-add__button {
  margin-top: 12px;
  padding: 8px;
  display: block;
  font-size: 16px;
}

.product-add__title {
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 2px;
  margin-left: 1px;

  padding: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-add__value {
  font-size: 14px;
  font-family: @font-base;
}

.product-add__cost {
  margin-top: 6px;
  margin-right: -2px;

  font-size: 14px;
  font-family: @font-base;

  float: right;
}

.product-add__bonus {
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 33px;
  margin-left: 20px;

  min-width: 280px;
  min-height: 289px;
}

@media (min-width: @tablet-width) {
  .product-add__list {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }

  .product-add__item {
    margin-bottom: -1px;
    padding-top: 22px;
    padding-right: 37px;
    padding-bottom: 26px;
    padding-left: 37px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border: 1px solid black;
  }

  .product-add__desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-add__button {
    margin-top: 20px;
    padding: 8px;
    flex-basis: 700px;
  }

  .product-add__title {
    margin: 0;
    font-size: 20px;
  }

  .product-add__value {
    margin-top: 6px;

    font-family: @font-base;
    font-size: 16px;
    text-align: right;

    flex-grow: 1;
  }

  .product-add__cost {
    font-size: 16px;
    font-family: @font-base;
    text-align: right;

    flex-basis: 93px;
  }

  .product-add__bonus {
    margin-top: 71px;
    margin-right: 30px;
    margin-bottom: 76px;
    margin-left: 30px;

    padding-top: 65px;
    padding-bottom: 71px;
    min-width: 708px;
    min-height: 60px;
  }
}


@media (min-width: @desktop-width) {
  .product-add {
    flex-grow: 1;
  }

  .product-add__list {
    margin: 0;
    //margin-left: 110px;
    min-width: 895px;
  }

  .product-add__item {
    margin: 0;
    padding: 0;
    height: 71px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .product-add__item:last-child {
    border-bottom: 1px solid black;
  }

  .product-add__title {
    flex-basis: 325px;
    flex-grow: 0;
  }

  .product-add__value {
    //flex-basis: 200px;
    flex-grow: 1;
    text-align: left;
  }

  .product-add__cost {
    flex-basis: 85px;
    text-align: left;
  }

  .product-add__button {
    margin: 0;
    padding: 7px 0;
    flex-basis: 336px;
  }

  .product-add__wrapper {
    margin-bottom: 87px;
    padding-left: 69px;
    padding-right: 69px;
    display: flex;
    justify-content: space-around;
  }

  .product-add__bonus {
    margin: 0;
    padding: 0;
    min-width: 245px;
    //min-width: auto;
    min-height: 289px;
  }
}
