.example {
  background-color: @bg-block-color;
  padding: 21px;
  margin-top: 45px;
  font-family: @font-add;
}

.example__title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.example__desc {
  font-family: @font-base;
  font-size: 14px;
  line-height: 18px;
  margin-top: 27px;
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
  }
}
