.example {
  background-color: @bg-block-color;
  padding: 21px;
  font-family: @font-add;
}

.example__effect {
  margin-top: 34px;
  margin-left: -20px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: white;
  }

  .example__example-info {
    margin-bottom: 194px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
  }

  .example__example-info {
    margin-top: -200px;
    margin-bottom: 194px;
  }
}
