.main-nav {
  padding: 0;
  margin: 0;
  position: relative;
}

.main-nav__toggle {
  width: 30px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

@media (min-width: @tablet-width) {

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    flex-grow: 1;
    background-color: transparent;
  }
}
