.main-nav {
  padding: 0;
  position: relative;
}

.main-nav__toggle {
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat 0 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;

  &--down {
    background: url("../img/icon-close.svg") no-repeat 0 0;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    flex-grow: 1;
    background-color: transparent;
  }
}
