.socials {
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid grey;
}

.socials__list {

  margin: 0 auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 73px;
  padding: 0;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.socials__item {
  display: inline-block;
}

.socials__link {
  display: inline-block;

  &--vk svg {
    height: auto;
    width: 22px;
  }

  &--inst svg {
    margin-left: -3px;
    height: auto;
    width: 16px;
  }

  &--fb svg {
    height: auto;
    width: 20px;
  }

  &:hover svg,
  &:focus svg {
    fill: #68b738;
  }

  &:active svg {
    //opacity: 0.3;
    fill: #c6e1b8;;
  }
}

@media (min-width: @tablet-width) {
  .socials {
    border: 0;
  }

  .socials__list {
    margin: 0 auto;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: 69px;
  }

  .socials__link {
    display: inline-block;

    &--vk svg {
      height: auto;
      width: 30px;
    }

    &--inst svg {
      margin-left: -3px;
      height: auto;
      width: 23px;
    }

    &--fb svg {
      height: auto;
      width: 28px;
    }
  }
}
