.example-facts__list {
  list-style: none;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.example-facts__item {
  padding-bottom: 0;
  text-align: center;
  width: 123px;
  height: 38px;
  margin: 0;
  position: relative;
}

.example-facts__item-value {
  padding-top: 7px;
  padding-bottom: 8px;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid silver;
}

.example-facts__item-desc {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 50px;
  position: absolute;
  top: 47px;
  left: 35px;
}

.example-facts__cost {
  margin: 0;
  margin-top: 52px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .example-facts {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 133px;
    //margin-top: 55px;
  }

  .example-facts__list {
    margin: 0;
    width: 366px;
  }

  .example-facts__item {
    padding-bottom: 0;
    width: 162px;
  }

  .example-facts__item-value {
    padding-top: 10px;
    padding-bottom: 17px;
    font-size: 29px;
  }

  .example-facts__item-desc {
    font-size: 14px;
    line-height: 14px;
    width: 136px;
    top: 63px;
    left: 12px;
  }

  .example-facts__cost {
    margin: 0;
    margin-top: 6px;
    flex-grow: 0;
    font-size: 20px;
    width: 180px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example-facts {
    margin-top: 74px;
    height: 157px;
    flex-direction: column;
  }

  .example-facts__cost {
    display: flex;
    justify-content: space-between;
    width: 327px;
  }
}
