.button {
  text-decoration: none;
  text-transform: uppercase;
  color: @btn-color-text;
  padding: 10px 20px;
  border: 0;
  text-align: center;

  &--green {
    background-color: @btn-bg-color-green;
    color: white;
  }

  &--gray {
    background-color: @btn-bg-color-gray;
    color: black;
  }
}
