.button {
  text-decoration: none;
  text-transform: uppercase;
  color: @btn-color-text;
  padding: 10px 20px;
  text-align: center;
  /*display: block;*/

  &--green {
    background-color: @btn-bg-color-green;
  }
}
