.product {
  margin: 0;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-bottom: 1px solid black;
  flex-basis: 250px;
}

.product__img {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -5px;
  margin-left: 0;

  padding: 0;

  float: left;

  &--link-clear {
    text-decoration: none;
    color: black;
  }
}

.product__img img {
  margin: 0;
  padding: 0;
}

.product__title {
  margin-top: 21px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  min-width: 80px;

  display: inline-block;

  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;

  &--link-clear {
    text-decoration: none;
    color: black;
  }
}

.product__desc {
  margin-left: 135px;
}

.product__features {
  margin-top: 11px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  padding: 0;

  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  font-family: @font-base;
  list-style: none;
}

.product__feature-name {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.product__feature-value {
  margin: 0;
  padding: 0;
  float: right;
}

.product__button {
  padding: 8px 20px;
  width: 280px;

  clear: both;
  display: block;
  font-size: 16px;

  border-bottom: 1px solid #ededed;
}

.product__show-more {
  margin: 0;
  padding: 0;
  width: 100%;

  display: block;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.product__show-more::before {
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;

  padding: 0;
  width: 30px;
  height: 30px;

  content: url("../img/icon-plus-mobile.svg");
  display: block;

  opacity: 0.2;
}

.product__show-more-title {
  margin-top: -4px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

.product__show-more-desc {
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 22px;
  margin-left: 0;

  padding: 0;

  text-align: center;
  font-size: 12px;
  font-family: @font-base;
}


@media (min-width: @tablet-width) {
  .product {
    margin-top: 140px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-left: 19px;

    flex-basis: 284px;
    min-height: 408px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
  }

  .product__img {
    min-height: 148px;
    float: none;
    position: relative;
  }

  .product__img img {
    position: absolute;
    left: -19px;
    bottom: 22px;
  }

  .product__desc {
    margin-top: 20px;
    margin-right: 18px;
    margin-bottom: 26px;
    margin-left: 18px;

    padding: 0;
  }

  .product__title {
    margin: 0;
    width: 135px;
    font-size: 20px;
    line-height: 20px;
  }

  .product__features {
    margin-top: 22px;
    font-size: 16px;
    font-family: @font-base;
  }

  .product__features li {
    margin-bottom: 8px;
    height: 23px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid black;
  }

  .product__button {
    margin-top: 0;
    margin-right: 18px;
    margin-bottom: 10px;
    margin-left: 18px;
    min-width: 249px;
  }


  .product__show-more {
    margin-top: 53px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    padding: 0;
    width: 100%;

    background-size: 60px 60px;
  }

  .product__show-more::before {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    padding: 0;
    width: 60px;
    height: 60px;

    content: url("../img/icon-plus-mobile.svg");
    display: block;

    opacity: 0.2;
  }

  .product__show-more-title {
    margin: 0 auto;
    width: 170px;
    font-size: 20px;
    line-height: 20px;
  }

  .product__show-more-desc {
    margin-top: 26px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;

    font-size: 16px;
  }

  .product--bg-show-more {
    background-color: white;
    border: 1px solid @bg-block-color;
  }
}

@media (min-width: @desktop-width) {
  .product {
    margin-top: 141px;
    padding-top: 0;
    padding-right: 18px;
    padding-bottom: 23px;
    padding-left: 19px;

    flex-basis: 208px;
  }

  .product__button {
    width: 169px;
  }
}
