.product__link {
  text-decoration: none;
  color: black;
}

.product__title {
  text-transform: uppercase;
}


.product__item {
  flex-basis: 250px;
}

@media (min-width: @tablet-width) {
  .product__list {
    display: flex;
    flex-wrap: wrap;
  }
}
