//Цвета
@bg-block-color: rgb(242, 242, 242);  //серый
@btn-bg-color-green: rgb(104, 183, 56);
@btn-color-text: white;

//Шрифты
@font-size-title-big:  2em;
@font-size-title-medium:  1.5em;
@font-base: Arial, sans-serif;
@font-add: Oswald, Arial, sans-serif;

//Размеры
//ширина страницы
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1088px;

//внутренние отступы страницы
@mobile-page-padding: 10px;
@tablet-page-padding: 15px;
@desktop-page-padding: 20px;
