//Цвета
//  *** БЛОКИ   ***
//фон для блоков
@bg-block-color: rgb(242, 242, 242);  //серый
//границы блоков по умолчанию
@border-block-default: #d9d9d9;

//цвет текста
@btn-color-text: white;

//цвета внешних ссылок
@link-outer-ico: #666666;
@link-outer-ico-hover: #68b738;
@link-outer-ico-active: #c6e1b8;

@link-outer-text: #666666;
@link-outer-text-hover: #666666;
@link-outer-text-active: #c8c8c8;

//  ***   КОНТРОЛЫ  ***
//фон для кнопок
@btn-bg-color-green: rgb(104, 183, 56);
@btn-bg-color-gray: rgb(242, 242, 242);

//цвета границ полей ввода данных
@border-input: #e6e6e6;
@border-input-hover: #bcbcbc;
@border-input-active: #444444;
@border-input-error: #ff8182;

//цвета границ переключателей
@border-switcher: #e6e6e6;
@border-switcher-hover: #bcbcbc;
@border-switcher-down: #ededed;

//цвет текста контролов
@control-text-color: black;
@control-text-color-down: #bcbcbc;

//  ***   ШРИФТЫ  ***
@font-size-title-big:  2em;
@font-size-title-medium:  1.5em;
@font-base: arial, sans-serif;
@font-add: oswald, arial, sans-serif;

//Размеры
//ширина страницы
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;

//плотность пикселей
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

//внутренние отступы страницы
@mobile-page-padding: 10px;
@tablet-page-padding: 15px;
@desktop-page-padding: 20px;
