@bg-block-color: rgb(242, 242, 242);  //серый
@btn-color-text: white;
@font-size-title-big:  2em;
@font-size-title-medium:  1.5em;
@font-base: "Arial", sans-serif;
@font-add: "Oswald", "Arial", sans-serif;
