.form {
  padding: 0;
}

.form__title {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 36px;
}

.form__desc {
  margin: 0;
  margin-top: 29px;
  margin-left: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__cat-info {
  margin: 0;
  margin-top: 39px;
  padding: 0 20px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid black;
}

.form__cat-program {
  margin: 0;
  margin-top: 14px;
  padding: 0 20px;
  padding-bottom: 15px;
  border: 0;
  border-bottom: 1px solid black;
  line-height: 42px;
  text-transform: uppercase;
}

.form__cat-contacts {
  margin: 0 auto;
  padding: 0;
  padding-top: 28px;
  width: 282px;
  border: 0;
}

.form__cat-comment {
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  width: 282px;
  border: 0;
}

.form__product-add {
  margin: 0 auto;
  padding: 0;
  padding-top: 23px;
  width: 282px;
  border: 0;
}

.form__footer {
  padding: 29px 20px;
  padding-bottom: 32px;
}

.form__footer-button {
  width: 100%;
  font-family: @font-add;
  font-size: 16px;
  line-height: 20px;
}

.form__required-text {
  margin-top: 21px;
  text-align: center;
  font-family: @font-base;
  font-size: 14px;
}


@media (min-width: @tablet-width) {
  .form {
    margin: 0;
    padding: 0;
  }

  .form__title {
    margin-top: 15px;
    margin-left: 29px;
    font-size: 60px;
    font-weight: 200;
  }

  .form__desc {
    margin-left: 70px;
    margin-top: 41px;
    width: 325px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-info {
    margin: 0;
    margin-top: 66px;
    margin-left: 72px;
    margin-right: 67px;
    padding: 0;
    font-size: 20px;
    font-family: @font-add;
    border: 0;
  }

  .form__cat-program {
    margin: 0;
    margin-top: 52px;
    margin-left: 71px;
    padding: 0;
    padding-top: 22px;
    padding-left: 26px;
    padding-bottom: 13px;
    font-size: 20px;
    font-family: @font-add;
    border: 1px solid black;
    border-right: 0;
  }

  .form__cat-contacts {
    margin: 0 auto;
    padding: 0;
    padding-top: 70px;
    padding-left: 11px;
    width: 638px;
    border: 0;
  }

  .form__cat-comment {
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    padding-left: 11px;
    width: 638px;
    border: 0;
  }

  .form__product-add {
    margin: 0 auto;
    padding: 0;
    padding-top: 57px;
    width: 628px;
    border: 0;
  }

  .form__footer {
    padding: 24px 71px;
    padding-bottom: 69px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .form__footer-button {
    width: 283px;
    font-size: 20px;
    line-height: 32px;
  }

  .form__required-text {
    margin: 0;
    padding: 0;
    margin-left: 62px;
    margin-top: -5px;
    font-size: 16px;
  }
}


@media (min-width: @desktop-width) {
  .form {
    margin: 0 111px;
  }

  .form__title {
    margin: 0;
    margin-top: 63px;
    padding: 0;
    font-size: 60px;
    font-weight: 200;
  }

  .form__desc {
    margin: 0;
    margin-top: 41px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-info {
    margin: 0;
    margin-top: 66px;
    margin-right: 67px;
    padding: 0;
    font-size: 20px;
    font-family: @font-add;
    border: 0;
    width: 570px;
  }

  .form__cat-program {
    margin: 0;
    margin-top: 46px;
    padding: 0;
    padding-top: 22px;
    padding-left: 26px;
    padding-bottom: 13px;
    font-size: 20px;
    font-family: @font-add;
    border: 1px solid black;
    border-right: 0;
    width: 542px;
  }

  .form__cat-contacts {
    margin: 0 auto;
    padding: 0;
    padding-top: 44px;
    width: 100%;
    border: 0;
  }

  .form__cat-comment {
    margin: 0 auto;
    padding: 0;
    padding-top: 61px;
    width: 100%;
    border: 0;
  }

  .form__product-add {
    margin: 0 auto;
    padding: 0;
    padding-top: 59px;
    width: 100%;
    border: 0;
  }

  .form__footer {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 81px;
    height: 54px;
  }

  .form__footer-button {
    margin: 0;
    padding: 0;
    width: 568px;
    height: 52px;
  }

  .form__required-text {
    margin: 0;
    padding: 0;
    margin-left: 82px;
    margin-top: -5px;
    font-size: 16px;
  }
}
