.features {
  line-height: 18px;
}

.features__features-list {
  margin-top: 49px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.features__title {
  margin: 0;

  font-size: 36px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }

  .features__features-list {
    margin-top: 71px;
  }
}

@media (min-width: @desktop-width) {
  .features__title {
    font-size: 60px;
  }
}
