.features {
  line-height: 18px;
}

  .features__features-list {
    margin: 0;
    margin-top: 50px;
  }

.features__title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }

  .features__features-list {
    margin-top: 72px;
    margin-bottom: 88px;
  }
}

@media (min-width: @desktop-width) {
  .features__title {
    font-size: 60px;
  }
}
