.catalog {
  margin: 0;
  padding: 0;
}

.catalog__title {
  margin-top: 18px;
  margin-right: 0;
  margin-bottom: 32px;
  margin-left: 20px;
  padding: 0;

  font-weight: 300;
  font-size: 36px;

  //border-bottom: 1px solid #ededed;
  border: 0;
}

.catalog__title-add {
  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  padding-bottom: 28px;

  font-size: 24px;
  font-weight: 300;

  position: relative;

  border-bottom: 1px solid @border-block-default;
}

.catalog--main {
  margin: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@media (min-width: @tablet-width) {
  .catalog--main {
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .catalog__title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    font-size: 60px;
    font-weight: 200;

    border: 0;
  }

  .catalog__list {
    margin-top: 11px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__title-add {
    margin-top: 56px;
    margin-right: 0;
    margin-bottom: 71px;
    margin-left: 67px;
    padding: 0;

    font-size: 36px;

    position: relative;

    border: none;
  }
}


@media (min-width: @desktop-width) {
  .catalog--main {
    margin: 0 40px;
  }

  .catalog__title {
    margin-top: 63px;

    font-size: 60px;
    font-weight: 200;
  }

  .catalog__title-add {
    margin-top: 65px;
    margin-right: 0;
    margin-bottom: 71px;
    margin-left: 40px;
    padding: 0;

    font-size: 36px;
  }
}
