.program-slim__list {
  list-style: none;
  margin: 20px 20px;
  padding: 0;
  font-family: @font-add;
}

.program-slim__item {
  background-color: @bg-block-color;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 18px;
}

.program-slim__item-title {
  text-transform: uppercase;
  font-family: @font-add;
  margin-left: 71px;
  margin-top: 11px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
}

.program-slim__item-desc {
  font-family: @font-base;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.program-slim__catalog-link {
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .program-slim__list {
    margin: 0 29px;
  }

  .program-slim__item {
    margin-bottom: 30px;
    padding-left: 53px;
    padding-bottom: 58px;
    padding-top: 31px;
  }

  .program-slim__item-title {
    margin-top: 35px;
    margin-left: 0;
    margin-bottom: 18px;
    font-size: 36px;
  }

  .program-slim__item-desc {
    font-size: 16px;
    line-height: 24px;
    padding-right: 255px;
    margin-bottom: 30px;
    border: 0;

    &--pro {
      padding-right: 295px;
    }
  }

  .program-slim__catalog-link {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .program-slim__list {
    display: flex;
    justify-content: space-between;
    margin: 0px 110px;
  }

  .program-slim__item {
    margin: 0;
    padding-bottom: 55px;
    flex-basis: 498px;
  }

  .program-slim__item-title {
    margin-top: 36px;
    margin-left: 162px;
    margin-bottom: 66px;
    font-size: 36px;
  }

  .program-slim__item-desc {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 25px;
    border: 0;
  }
}
