.program-slim__list {
  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 22px;
  margin-left: 20px;
  padding: 0;

  font-family: @font-add;

  list-style: none;
}

.program-slim__item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;

  padding: 20px;
  padding-bottom: 18px;
  position: relative;

  background-color: @bg-block-color;
}

.program-slim__item-title {
  margin-left: 71px;
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-family: @font-add;
}

.program-slim__item-desc {
  margin-top: 0;
  margin-bottom: 17px;
  padding-bottom: 20px;

  font-family: @font-base;
  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid black;
}

//Картинки для блока Программы похудения
.program-slim__item--slim::before {
  width: 50px;
  height: 50px;
  left: 22px;
  top: 25px;

  position: absolute;
  padding: 0;
  display: block;
  content: "";
  background-color: #68b738;

  border-radius: 50%;
}

.program-slim__item--slim::after {
  padding: 0;
  width: 35px;
  height: 50px;
  top: 22px;
  left: 30px;

  position: absolute;

  display: block;
  content: "";
  background: url("../img/icon-cat-slim.svg") no-repeat center center;
}

.program-slim__item--pro::before {
  width: 50px;
  height: 50px;
  left: 22px;
  top: 25px;
  padding: 0;

  position: absolute;

  display: block;
  content: "";
  background-color: #68b738;

  border-radius: 50%;
}

.program-slim__item--pro::after {
  padding: 0;
  width: 67px;
  height: 50px;
  top: 23px;
  left: 13px;

  position: absolute;

  display: block;
  content: "";
  background: url("../img/icon-cat-pro.svg") no-repeat center center;
}

.program-slim__catalog-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.program-slim__catalog-link::after {
  margin-top: 7px;
  margin-left: 12px;
  width: 24px;
  height: 11px;

  content: "";
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.program-slim__catalog-link:hover::after,
.program-slim__catalog-link:focus::after {
  margin-top: 7px;
  margin-left: 12px;
  width: 33px;
  height: 11px;

  content: "";
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .program-slim__list {
    margin: 0 29px;
  }

  .program-slim__item {
    margin-bottom: 30px;
    padding-left: 53px;
    padding-bottom: 59px;
    padding-top: 31px;
  }

  //Картинки для блока Программы похудения
  .program-slim__item--slim::before {
    position: absolute;
    padding: 0;
    width: 200px;
    height: 200px;
    left: 447px;
    top: 90px;
  }

  .program-slim__item--slim::after {
    margin: 0;
    padding: 0;
    width: 443px;
    height: 196px;
    left: 326px;
    top: 78px;
  }

  .program-slim__item--pro::before {
    padding: 0;
    width: 200px;
    height: 200px;
    left: 450px;
    top: 90px;
  }

  .program-slim__item--pro::after {
    margin: 0;
    padding: 0;
    width: 430px;
    height: 112px;
    left: 332px;
    top: 135px;
  }

  .program-slim__item-title {
    margin-top: 35px;
    margin-left: 0;
    margin-bottom: 18px;
    font-size: 36px;
  }

  .program-slim__item-desc {
    margin-bottom: 30px;
    padding-right: 293px;

    font-size: 16px;
    line-height: 24px;

    border: 0;

    &--pro {
      padding-right: 295px;
    }
  }

  .program-slim__catalog-link {
    font-size: 20px;
  }

  .program-slim__catalog-link::after {
    margin-top: 11px;
    margin-left: 24px;
  }

  .program-slim__catalog-link:hover::after,
  .categories__link:focus::after {
    margin-top: 11px;
    margin-left: 24px;
  }
}

@media (min-width: @desktop-width) {
  .program-slim__list {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
  }

  .program-slim__item {
    margin: 0;
    padding-bottom: 58px;
    flex-basis: 498px;
  }

  //  *** Картинки для блока Программы похудения  ***
  .program-slim__item--slim::before {
    padding: 0;
    width: 100px;
    height: 100px;
    left: 52px;
    top: 46px;

    position: absolute;
  }

  .program-slim__item--slim::after {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 150px;
    top: 13px;
    left: 66px;
  }

  .program-slim__item--pro::before {
    padding: 0;
    width: 100px;
    height: 100px;
    left: 52px;
    top: 46px;
  }

  .program-slim__item--pro::after {
    margin: 0;
    padding: 0;
    width: 135px;
    height: 116px;
    left: 34px;
    top: 38px;
  }

  .program-slim__item-title {
    margin-top: 36px;
    margin-left: 162px;
    margin-bottom: 66px;
    font-size: 36px;
  }

  .program-slim__item-desc {
    padding: 0;
    margin-right: 20px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 24px;

    border: 0;
  }
}
