.page-header {
  margin: 0 auto;
  //padding-left: 20px;
  //padding-right: 20px;
  border-width: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  width: @mobile-width;
  //height: 66px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.page-header__logo {
  margin-top: 11px;
  margin-left: 20px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  width: 191px;

  &-image {
    text-decoration: none;
  }
}

.page-header__main-nav {
  margin: 0;
}

.page-header__toggle {
  margin-top: 23px;
  top: -66px;
  right: 20px;
  width: 24px;
  height: 18px;
}

.page-header__logo-text {
  margin-top: 13px;
}


//***
@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 30px;
    height: 110px;
    min-width: @tablet-width;
    //justify-content: flex-start;
  }

  .page-header__logo {
    margin-top: 24px;
    width: 170px;
    //padding-left: 30px;
  }
}

//    ***
@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 110px;
    min-width: @desktop-width;
  }

  .page-header--transparent {
    background-color: transparent;
  }

  .page-header__logo {
    margin-top: 71px;
    flex-grow: 2;
    justify-content: flex-start;
  }
}
