.form-group {
  border: 0;
}

.form-group__label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.form-group__textarea {
  width: 100%;
  text-transform: uppercase;
}

.form-group__input {
  text-transform: uppercase;
}
