.page-main {
  //font-family: @font-base;
  background-color: white;
  width: @mobile-width;
  margin: 0 auto;
}



@media (min-width: @tablet-width) {
  .page-main {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    min-width: @desktop-width;
  }
  .page-main--position-banner {
    margin-top: -100px;
  }
}
