.page-main {
  //font-family: @font-base;
  background-color: white;
  width: @mobile-width;
  margin: 0 auto;

  overflow: hidden;
}

.page-main__banner {
  margin: 0 auto;
}

.page-main__features {
  margin: 0 20px;
  margin-top: 38px;
}

.page-main__example {
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .page-main {
    min-width: @tablet-width;
  }

  .page-main__banner {
    margin-bottom: 580px;
    margin-left: 117px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    min-width: @desktop-width;
  }

  .page-main--position-banner {
    margin-top: -110px;
    padding-top: 110px;
  }

  .page-main__banner {
    margin: 0;
    margin-left: 191px;
  }

  .page-main__program-slim {
    margin-top: 80px;;
  }
}
