.partnership {
  background-color: @bg-block-color;

  &--main {
    background-color: white;
  }

  &--second {
    background-color: @bg-block-color;
  }
}

.partnership__text {
  padding: 28px 19px;
  font-family: @font-base;
  font-weight: normal;
}

.partnership__address {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.partnership__address br {
  display: none;
}

.partnership__title {
  float: left;
  width: 50%;
  text-transform: uppercase;
  font-family: @font-add;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .partnership__text {
    padding-top: 65px;
    padding-right: 71px;
    padding-bottom: 135px;
    padding-left: 71px;

    font-family: @font-base;
    font-weight: normal;

    &--form {
      padding-top: 69px;
      padding-right: 71px;
      padding-bottom: 135px;
      padding-left: 71px;
    }
  }

  .partnership__title {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .partnership__address {
    margin-top: -3px;
    margin-right: 1px;
    font-size: 16px;
    line-height: 20px;
    float: right;
    width: 156px;
    text-align: right;
  }

  .partnership__address br {
    display: inline;
  }

  .partnership__map {
    height: 396px;
  }
}

@media (min-width: @desktop-width) {
  .partnership {
    position: relative;

    &--second {
      background-color: white;
    }
  }

  .partnership__text {
    padding-top: 61px;
    padding-right: 76px;
    padding-bottom: 37px;
    padding-left: 76px;

    width: 570px;
    min-height: 200px;
    top: 96px;
    left: 40px;

    position: absolute;
    box-sizing: border-box;

    background-color: white;
  }

  .partnership__title {
    margin-top: 3px;
    line-height: 26px;

    font-weight: normal;
    font-size: 20px;
  }

  .partnership__address {
    margin-top: 3px;
    margin-right: 12px;

    font-size: 16px;
    text-align: left;
  }

  .partnership__map {
    height: 400px;
  }
}
